@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

* {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
    box-sizing: border-box;
}

.main-header {
    background-color: #FFE17F;
}

.search-text::placeholder {
    color: #000000;
}

.user-navigation {
    font-size: 16px;
    line-height: 20px;
}

.navigation-shoppingcart {
    font-size: 18px;
    line-height: 30px;
}

.shoppingcart-icon {
    font-size: 14px;
    line-height: 17px;
}

.catalog-link, 
.menu-list-item,
.more-information {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.text-exit {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    opacity: 0.3;
}

.catalog-list {
    font-size: 16px;
    line-height: 18px;
}

.slider-number {
    font-weight: bold;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
}

.slider-title,
.about-title,
.contacts-title,
.appointment-title,
.catalog-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.slider-text {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.more-info-container,
.item-img,
.delivery-icon {
    background: #FFE17F;
}



.item-img {
    width: 160px;
    height: 160px;
}

.more-info-container {
    width: 220px;
    height: 8px;
}

.specific-header {
    font-size: 36px;
    line-height: 30px;
}

.specific-text {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.item-text {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.services,
.delivery-rare {
    background: #F0F0F0;
}

.delivery-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.delivery-icon {
    width: 125px;
    height: 100px;
}

.services-item {
    height: 8px;
    background: #FFE17F;
    margin-bottom: 55px;
    width: 160px;
}

.services-btn {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.services-header {
    font-family: "Raleway";
    font-size: 50px;
    line-height: 50px;
}

.services-paragraph,
.contacts-info,
.contacts-address-text,
.contacts-phone,
.contacts-schedule-item,
.appointment-text {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.about-text {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.cargo-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.about-link-container {
    height: 8px;
    width: 270px;
    background: #FFE17F;
}

.button-about-write {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.write-link-container {
    height: 8px;
    width: 259px;
    background: #FFE17F;
}

.appointment {
    background: #F0F0F0;
}

.appointment-email {
    outline: none;
    border: none;
    border-bottom: 3px solid #C4C4C4;
    background: #F0F0F0;
}

.appointment-email::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    opacity: 0.5;
}

.email-button {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #CECECE;
}

.appointment-form-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.page-footer {
    background: #444444;
}

.about-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.adress-line {
    background: #FFC700;
    width: 80px;
    height: 7px;
}

.footer-menu-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-contacts-address-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.catalog-title-filter,
.catalog-title-sort {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.catalog-filter-group {
    border: none;
}

.circle {
    border-radius: 50%;
    background: #EBEBEB;
    border: 2px solid #000000;
    width: 18px;
    height: 18px;
}

.catalog-filter-line {
    width: 119px;
    height: 2px;
    background:  #000000;
}

.price {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    opacity: 0.3;
}

.befor-filter-line {
    background-color: #000000;
    height: 2px;
    width: 200px;
}

.control-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.control-input {
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
}

.control-input-radio {
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
}

.catalog-products,
.goods-title {
    background: #F0F0F0;
}

.catalog-filter-show {
    background: #FFE17F;
    width: 220px;
    height: 8px;
}

.button-show {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.control-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.product-card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.pagination-show-more {
    border: 3px solid #E5E5E5;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination {
    background: #EBEBEB;
}

.pagination-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-current {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
}